@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600;700;800;900&display=swap');
body {
    font-family: 'Urbanist', sans-serif;
}

.NavigationBar {
    width: 100%;
    text-decoration: none;
    font-size: 1.25rem;
}

.Nav {
    display: flex;
    flex-direction: row;
    margin: 0;
}

a.button  {
    padding: 0.25rem 0.6rem;
    background: #DCEBCA;
    color: black;
    border: none;
    font-size: 1.25rem;
    border-radius: .5rem;
}

button.button {
    padding: 0.25rem 0.6rem;
    background: #DCEBCA;
    color: black;
    border: none;
    font-size: 1.25rem;
    border-radius: .5rem;
    font-family: 'Urbanist', sans-serif;
}

.NavLeft {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 1rem;
}
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding: 1rem;
    width: 50%;
    gap: 1.5rem;
}
Link:active {
    text-decoration: none;
}
.link {
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    color: black;
}

a:link {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0;
    text-decoration: none;
    color: black;
}